$color-heart:#BB56DC;
.heart__icon{
    align-self: flex-end;
    position: absolute;
    padding-right: 20px;

}
.heart__icon--bis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; 
    padding-top: 0;
    i{
        padding-right: 30px;    
    }
}

.colorchange{
    &::before{
        font-size: 22px;
    }
    &:hover, &:active, &:focus{
        background: linear-gradient(#9356DC, #FF79DA);
        color: #fff;
        font-weight: 600;        
         cursor: pointer;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
       animation: colorheartchange 1s ease-in-out forwards;
       -moz-background: linear-gradient(#9356DC, #FF79DA);
        -moz-color: #fff;
       -moz-font-weight: 600;        
       -moz-webkit-background-clip: text;
        -moz-webkit-text-fill-color: transparent;        
     


    }
}
