.rightorwrong {
  width: 0%;
  height: 80px;
  align-self: center;
  margin: 0;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.6s;
  opacity: 1;
}

i.validation {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(0);
  opacity: 1;
  position: relative;
  left: 9px;
}

@keyframes rotation-right {
  0% {
    transform: rotate(1turn);
  }
  100% {
    opacity: 1;
  }
}
@keyframes roundone {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes roundturn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorheartchange {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes elementdown {
  from {
    transform: translatey(30px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
body {
  box-sizing: border-box;
  background-color: #F8F6F9;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.btn__reservation {
  color: white;
  padding: 1.5rem 3rem;
  text-align: center;
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  width: min-content;
  white-space: nowrap;
  margin: 3em auto;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn__reservation a {
  color: white;
  text-decoration: none;
}
.btn__reservation:hover, .btn__reservation:active {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.6) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.btn__reservation--modif {
  color: white;
  padding: 1.5rem 3rem;
  text-align: center;
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  width: min-content;
  white-space: nowrap;
  margin: 0 auto 4.2em;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn__reservation--modif a {
  color: white;
  text-decoration: none;
}
.btn__reservation--modif:hover, .btn__reservation--modif:active {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.6) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.rightorwrong {
  width: 0%;
  height: 80px;
  align-self: center;
  margin: 0;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.6s;
  opacity: 1;
}

i.validation {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(0);
  opacity: 1;
  position: relative;
  left: 9px;
}

@keyframes rotation-right {
  0% {
    transform: rotate(1turn);
  }
  100% {
    opacity: 1;
  }
}
@keyframes roundone {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes roundturn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorheartchange {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes elementdown {
  from {
    transform: translatey(30px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
.logo {
  background-color: #fff;
  box-shadow: inset #c8c8d1 0px -3px 3px 0px;
  padding: 0.9em;
  text-align: center;
  width: auto;
}

footer {
  background-color: #383737;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer ul {
  color: whitesmoke;
  padding-left: 0;
  margin-left: 30px;
}
footer li {
  list-style-type: none;
  font-size: 16px;
  line-height: 28px;
}

.entete {
  margin: 10px 0px 10px 30px;
}
.entete__title {
  width: 19%;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
  letter-spacing: 0.1px;
}

footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: white underline;
}
footer i {
  font-size: 14px;
  margin-right: 10px;
}

i.sizing {
  font-size: 10px;
  transform: rotate(125deg);
  letter-spacing: 0.01px;
}

.heart__icon {
  align-self: flex-end;
  position: absolute;
  padding-right: 20px;
}

.heart__icon--bis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0;
}
.heart__icon--bis i {
  padding-right: 30px;
}

.colorchange::before {
  font-size: 22px;
}
.colorchange:hover, .colorchange:active, .colorchange:focus {
  background: linear-gradient(#9356DC, #FF79DA);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorheartchange 1s ease-in-out forwards;
  -moz-background: linear-gradient(#9356DC, #FF79DA);
  -moz-color: #fff;
  -moz-font-weight: 600;
  -moz-webkit-background-clip: text;
  -moz-webkit-text-fill-color: transparent;
}

.rightorwrong {
  width: 0%;
  height: 80px;
  align-self: center;
  margin: 0;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.6s;
  opacity: 1;
}

i.validation {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(0);
  opacity: 1;
  position: relative;
  left: 9px;
}

@keyframes rotation-right {
  0% {
    transform: rotate(1turn);
  }
  100% {
    opacity: 1;
  }
}
@keyframes roundone {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes roundturn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorheartchange {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes elementdown {
  from {
    transform: translatey(30px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
body {
  box-sizing: border-box;
  background-color: #F8F6F9;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 20px;
  font-weight: lighter;
}

.form__localisation {
  display: flex;
  align-items: center;
  background-color: #ECECEC;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input {
  width: 146px;
  padding-right: 20px;
  border: none;
  background-color: #ECECEC;
  font-size: 19px;
  height: 25px;
  letter-spacing: -0.4px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: black;
  font-weight: 600;
  border-color: #ECECEC;
}

.spread {
  font-size: 18px;
  padding-right: 26px;
}

.title__homepage {
  font-family: "roboto", "sans seriff";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1.title__homepage {
  font-size: 24px;
  margin-top: 45px;
  margin-bottom: 0;
}

h2.title__homepage {
  font-size: 20px;
  -moz-font-size: 23px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.title__homepage2 {
  font-family: "roboto", "sans seriff";
  font-size: 24px;
  padding: 20px 0 20px 15px;
  font-weight: bolder;
}

.container__fonctionnality {
  background-color: white;
  padding-bottom: 50px;
}

.container__fonctionnality__card {
  display: flex;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  box-shadow: #dbdbdf 5px 6px 11px 4px;
  background-color: #F8F6F9;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
}
.container__fonctionnality__card:hover, .container__fonctionnality__card:active {
  box-shadow: 3px 3px 10px 6px #c4bebf;
  transition: 0.4s;
  background: #fff3fc;
}
.container__fonctionnality__card .number__effectround {
  background: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.colorgrey {
  color: #808080;
  margin-left: 20px;
  margin-right: 20px;
}

i.colorgrey__one {
  color: #808080;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 19px;
}

/*section restaurant*/
#restaurant {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
}

.card__present {
  border-radius: 15px;
  margin: 0px 15px 0px 15px;
}
.card__present__action {
  box-shadow: 0px 3px 10px rgba(102, 102, 102, 0.178);
  width: 100%;
  margin-bottom: 30px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.card__present__action:hover, .card__present__action:active {
  box-shadow: 3px 3px 10px 3px #a19f9f;
  transition: 0.2s;
}
.card__present__action img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
}

.legende {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0px 3px 10px rgba(102, 102, 102, 0.178);
  padding: 3px 0px 5px 10px;
  position: relative;
}
.legende h4 {
  margin: 10px 0 0 0;
}
.legende p {
  margin: 3px 0 10px 0;
}

figure {
  margin: 0;
  background-color: white;
}

.new {
  width: 70px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #238064;
}

.rightorwrong {
  width: 0%;
  height: 80px;
  align-self: center;
  margin: 0;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.6s;
  opacity: 1;
}

i.validation {
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(0);
  opacity: 1;
  position: relative;
  left: 9px;
}

@keyframes rotation-right {
  0% {
    transform: rotate(1turn);
  }
  100% {
    opacity: 1;
  }
}
@keyframes roundone {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes roundturn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorheartchange {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes elementdown {
  from {
    transform: translatey(30px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
.Loading {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout ease-in-out 3s forwards;
}

.Loader__roundhigh {
  position: absolute;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 3rem solid rgba(161, 160, 160, 0);
  border-top: 3rem solid #99e2d0;
  border-left: 3rem solid #99e2d0;
  border-bottom: 3rem solid #99e2d0;
  animation: roundturn 0.8s 0.2s 5;
}

.Loader__round {
  border: 2rem solid rgba(161, 160, 160, 0);
  border-top: 2rem solid #ff79da;
  border-right: 2rem solid #ff79da;
  border-bottom: 2rem solid #ff79da;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  opacity: 1;
  animation: roundone 0.8s 0.2s 5;
  position: absolute;
}

.Loader__roundsmall {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1.5rem solid rgba(161, 160, 160, 0);
  border-top: 1.5rem solid #99e2d0;
  border-left: 1.5rem solid #99e2d0;
  border-bottom: 1.5rem solid #99e2d0;
  animation: Roundturn 0.8s 0.2s 5;
}
.Loader__roundsmall h5 {
  font-family: "Shrikhand", cursive;
  color: #9356DC;
  margin-left: 2px;
  margin-top: 30px;
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
.bg__menu {
  width: 100%;
}
.bg__menu .font-menu {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

i.return {
  position: absolute;
  width: 21px;
  top: 2.5%;
  right: 88%;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.card__menu {
  position: relative;
  border-radius: 30px;
  background-color: #f5f3f3;
  padding-bottom: 15px;
  bottom: 4em;
}
.card__menu h2 {
  margin-left: 20px;
  font-size: 1.5rem;
}
.card__menu h3 {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 18px;
}

.underline {
  width: 45px;
  border-bottom: #99E2D0 3px solid;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 8px;
}

.card__menu--modifier {
  width: 95%;
  display: flex;
  align-items: flex-end;
  padding: 0px;
  box-shadow: 2px 2px 10px 1px #ebe8e8;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.card__menu--modifier:hover .rightorwrong, .card__menu--modifier:active .rightorwrong {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%;
  opacity: 1;
}
.card__menu--modifier:hover i.validation, .card__menu--modifier:active i.validation {
  cursor: pointer;
  animation-name: rotation-right;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: 0.6s;
  margin-right: 11px;
}

.modifier {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.modifier h4 {
  margin-top: 0;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infos {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}

.price {
  width: 10%;
  font-weight: bolder;
  text-overflow: ellipsis;
  text-align: end;
  padding-right: 20px;
  padding-bottom: 10px;
}

.card__menu--modifier {
  animation: elementdown 1s forwards;
  opacity: 0;
}
.card__menu--modifier:nth-child(1) {
  animation-delay: calc(1s/10);
}
.card__menu--modifier:nth-child(2) {
  animation-delay: calc(2s/10);
}
.card__menu--modifier:nth-child(3) {
  animation-delay: calc(3s/10);
}
.card__menu--modifier:nth-child(4) {
  animation-delay: calc(4s/10);
}
.card__menu--modifier:nth-child(5) {
  animation-delay: calc(5s/10);
}
.card__menu--modifier:nth-child(6) {
  animation-delay: calc(6s/10);
}
.card__menu--modifier:nth-child(7) {
  animation-delay: calc(7s/10);
}
.card__menu--modifier:nth-child(8) {
  animation-delay: calc(8s/10);
}
.card__menu--modifier:nth-child(9) {
  animation-delay: calc(9s/10);
}
.card__menu--modifier:nth-child(10) {
  animation-delay: calc(10s/10);
}
.card__menu--modifier:nth-child(11) {
  animation-delay: calc(11s/10);
}
.card__menu--modifier:nth-child(12) {
  animation-delay: calc(12s/10);
}
.card__menu--modifier:nth-child(13) {
  animation-delay: calc(13s/10);
}
.card__menu--modifier:nth-child(14) {
  animation-delay: calc(14s/10);
}
.card__menu--modifier:nth-child(15) {
  animation-delay: calc(15s/10);
}
.card__menu--modifier:nth-child(16) {
  animation-delay: calc(16s/10);
}
.card__menu--modifier:nth-child(17) {
  animation-delay: calc(17s/10);
}
.card__menu--modifier:nth-child(18) {
  animation-delay: calc(18s/10);
}
.card__menu--modifier:nth-child(19) {
  animation-delay: calc(19s/10);
}
.card__menu--modifier:nth-child(20) {
  animation-delay: calc(20s/10);
}

/*mediaqueries desktop tablets*/
@media screen and (min-width: 769px) and (max-width: 991px) {
  .logo img {
    width: 300px;
  }

  .title__homepage2 {
    padding: 20px 0px 20px 20px;
  }

  i.return {
    top: 2.75%;
    right: 92%;
  }

  .entete {
    display: flex;
    justify-content: center;
  }
  .entete__title {
    padding: 0px;
    font-size: 1.5rem;
  }

  footer {
    align-items: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }
  footer ul li .sizing, footer ul li .fa-utensils {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) {
  .logo img {
    width: 300px;
  }

  i.return {
    top: 2.75%;
    right: 92%;
  }

  header, nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title__homepage2 {
    width: 100%;
    text-align: center;
  }

  .container__fonctionnality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container__fonctionnality h2 {
    text-align: center;
  }

  .container__fonctionnality__card {
    display: flex;
    width: 28%;
    justify-content: flex-start;
  }

  #restaurants {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card__present {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card__present__action {
    width: 48%;
  }

  .card__menu--modifier {
    width: 50%;
    flex-direction: row;
  }

  article {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .entete {
    display: flex;
    flex-direction: row;
    width: 8rem;
  }
  .entete__title {
    padding: 0px;
    font-size: 1.5rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }
  footer ul li .sizing, footer ul li .fa-utensils {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
