
$cd-txt: #15DEA5;
$cd-txt--invalid: #fff;
$cd-box: #fff;
$cd-danger: #b20a37;
$cd-primary: #6300a6;
$cd-secondary: #c41034;
$ball-size: 10rem;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

.form{
    &__group{
        height: 200px;
        align-items: center;
        & input{
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 100%;   
            height: 100px;
            &:focus {
                border: 2px solid $cd-txt;
                }
            &:not(:focus):invalid {
                    background: $cd-danger;
                    border: 2px solid $cd-danger;
                    color: $cd-txt--invalid;
                }
            }
        }
    }
    
.btn {
    background-color: $cd-btn-start;
    text-align: center;
    border: 4px solid $cd-txt;
    width: 30%;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    overflow: hidden;
    border-radius: 10rem;
    position: relative;
    transition: transform 450ms, background-color 300ms 150ms;  
    &:hover{
        transform: scale(1.13);
        background-color: $cd-btn-end;
    }
}