@use "../layout/variable";
$bg-color-body: #F8F6F9;
body{
    box-sizing: border-box;
    background-color: $bg-color-body;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
}