$bg-quaternary:  #ECECEC;
$color-i-grey: #808080;
$bg-primary: #9356DC;
$bg-secondary: #FF79DA;
$bg-color-body: #F8F6F9;
$sizing-width: 100%;
@mixin flexmid{
  display: flex;
  align-items: center;
}
body{
    box-sizing: border-box;
    background-color: $bg-color-body;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: $sizing-width;
} 
h2 {
  font-family: 'Shrikhand', 'cursive';
  font-size: 20px;
  font-weight: lighter;
}
.form{
  &__localisation{   
    @include flexmid; 
    background-color: $bg-quaternary;         
    justify-content: center;  
    padding-top: 10px;
    padding-bottom: 10px;
}
}
a {
  text-decoration: none;
  color: black;
}
input {
        width: 135px;
        padding-right: 20px;
        border: none;
        background-color: $bg-quaternary;
        font-size: 19px;        
        height: 25px;
        letter-spacing: -0.4px;
        &:focus
        {
          outline:  none;
        }
        &::placeholder{
          color: black;
          font-weight: 600;
          border-color: $bg-quaternary;
        }
}
.spread{
        font-size: 18px;
        padding-right: 26px;
}
.title__homepage {
    font-family: 'roboto', 'sans seriff';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
h1.title__homepage {
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 0;
  }
h2.title__homepage {
    font-size: 20px;
    margin-top: 0;
    padding-top: 20px;    
    padding-bottom: 0;
    margin-bottom: 0;
  }
.title__homepage2 {
    font-family: 'roboto', 'sans seriff';
    font-size: 24px;
    padding: 20px 0 20px 5px;    
    font-weight: bolder;
  }
.container__fonctionnality {
    background-color: white;
    padding-bottom: 50px;
    
         
  }
.container__fonctionnality__card {
    @include flexmid;      
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    box-shadow: #dbdbdf 5px 6px 11px 4px;
    background-color: $bg-color-body;
    border-radius: 15px;
    margin-bottom: 30px; 
    position: relative;
    &:hover {      
      box-shadow: 3px 3px 10px 6px #c4bebf;
      transition: 0.4s;    
      background: lighten($bg-secondary,24%);  
    }   
    .number__effectround {
          background: #9356dc;
          color: white;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: absolute;
          left: -1rem;
          display: flex;
          align-items: center;
          justify-content: center;
}
  }
i.colorgrey{
    color: $color-i-grey;
    margin-left: 20px;
    margin-right: 20px;
  }
i.colorgrey__one{
    color: $color-i-grey;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    }
  /*section restaurant*/

#restaurant{   
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1rem;   
}   
.card__present{ 
    border-radius: 15px; 
    margin: 0px 15px 0px 15px;    
    &__action{
      box-shadow: 0px 3px 10px rgba(102, 102, 102, 0.178);
      width: $sizing-width;    
      margin-bottom: 30px;   
      border-radius: 25px;
      overflow: hidden; 
      position: relative;
      &:hover{
      box-shadow: 3px 3px 10px 3px  rgb(161, 159, 159);
      transition: 0.2s;  
      }
      img{
        height: 200px;
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: white;   

      }  
    }    
}    

.legende{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-size: 1rem;
    box-shadow: 0px 3px 10px rgba(102, 102, 102, 0.178);
    padding: 3px 0px 5px 10px;
    position: relative;
    h4{
      margin: 10px 0 0 0;     
    }
    p{
      margin: 3px 0 10px 0;     
    }
    
}
figure{
    margin:0;
    background-color: white;
}
.new {
  width: 70px;
  height: auto;
  position: absolute;
  top:20px;
  right:20px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #238064; 
}

