/*mediaqueries desktop tablets*/
@media screen and (min-width: 769px) and (max-width: 991px){
    .logo img {
      width: 300px;
    }
    .title__homepage2{
        padding: 20px 0px 20px 20px;
    }
    i.return{
      top: 2.75%;
      right: 92%;
    }
    .entete {   
      display: flex;  
      justify-content: center;    
      &__title{
          padding: 0px;
          font-size: 1.5rem;
      }
    }    
   footer {    
      align-items: center;      
      ul{        
      display: flex;
      flex-direction: row;        
        li{
          padding-left: 1rem;
          padding-right: 1rem;
          font-size: 1.2rem;
          .sizing, .fa-utensils{
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  
@media screen and (min-width: 992px) {
  .logo img {
    width: 300px;
  }
  i.return{
    top: 2.75%;
    right: 92%;
  }
    header, nav {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }  
    .title__homepage2 {
      width: 100%;
      text-align: center;
    }    
    .container__fonctionnality{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      h2{
        text-align: center;
      }
    }
    .container__fonctionnality__card {
      display: flex;
      width: 28%;          
      justify-content: flex-start;
    }  
    #restaurants {
      width: 90%;
      margin-left: auto;
      margin-right: auto;    
      display: flex;
      flex-direction: row;    
      justify-content: space-between;     
      flex-wrap: wrap;
    } 
     .card__present{
        width: 100%;
        margin-left: auto;
        margin-right: auto;       
        display: flex;
        flex-direction: row;    
        justify-content: space-around;     
        flex-wrap: wrap;         
        &__action{
          width:48%;         
           }
      }  
      .card__menu--modifier {
        width: 50%;  
        flex-direction: row;
      }    
      article {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
      }
      .entete {   
        display: flex;  
        flex-direction: row;    
        width: 8rem;       
        &__title{
            padding: 0px;
            font-size: 1.5rem;
        }
      }
      footer {
          display: flex;
          align-items: center;
          justify-content: center;
          ul{        
          display: flex;
          flex-direction: row;      
            li{
              padding-left: 2rem;
              padding-right: 1rem;
              font-size: 1.2rem;
              .sizing, .fa-utensils{
                font-size: 1.1rem;
              }
            }
          }
        }
    }

  